<include file="sys/header"/>
<include file="sys/navibar"/>
<include file="sys/sidebar"/>
<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

<div style="border:0px;padding-bottom:5px;height:auto">
    <form action="" method="post" style="margin-bottom:0px">
        <div style="float:left;margin-right:5px">
            <label> 选择起始时间 </label>
            <input type="text" id="start_date" name="start_date" value="<{$start_date}>" placeholder="起始时间">
        </div>
        <div style="float:left;margin-right:5px">
            <label>选择结束时间</label>
            <input type="text" id="end_date" name="end_date" value="<{$end_date}>" placeholder="结束时间">
        </div>
            <!--
        <div style="float:left;margin-right:5px">
            <label>用户名，查询所有用户请留空</label>
            <input type="text" name="user_name" value="" placeholder="输入用户名">
        </div>
        -->
        <div class="btn-toolbar" style="padding-top:25px;padding-bottom:0px;margin-bottom:0px">
            <button type="submit" class="btn btn-primary"><strong>检索</strong></button>
        </div>
        <div style="clear:both;"></div>
    </form>
</div>

<div class="block">
    <a href="#page-stats" class="block-heading" data-toggle="collapse"><{$page_title}>展示</a>
    <div id="page-stats" class="block-body collapse in">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:30px">#</th>
                <th style="width:100px">订单号</th>
                <th style="width:100px">借出者电话</th>
                <th style="width:100px">借款者电话</th>

                <th style="width:35px">借款金额</th>
                <th style="width:35px">借款期限</th>
                <th style="width:35px">状态</th>
                <th style="width:100px">创建时间</th>
                <th style="width:100px">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name='list' id='item'>
                <tr>
                    <td><{$item.id}></td>
                    <td><{$item.order_id}></td>
                    <td><{$item.l_phone}></td>
                    <td><{$item.b_phone}></td>

                    <td><{$item.borrow_money}></td>
                    <td><{$item.borrow_time_limit}></td>
                    <td>
                        <if condition="$item.flag eq '0'">
                            待办
                            <elseif condition="$item.flag eq '1'"/>
                            已同意
                            <else />
                            已拒绝
                        </if>

                    </td>

                    <td><{$item.create_time}></td>
                    <if condition="$item.flag eq '0'">
                    <td><a href="_ADMIN_/Borrowrecordlist/agree?lId=<{$item.id}>" onclick="return confirm('确认同意此申请？');return false;">同意</a>/<a
                            href="_ADMIN_/Borrowrecordlist/refuse?lId=<{$item.id}>" onclick="return
                    confirm('确认拒绝此申请吗？');return false;">拒绝</a></td>
                        <else />
                        无
                    </if>
                </tr>
            </volist>
            </tbody>
        </table>
        <!--- START 分页模板 --->
        <if condition=" $page neq 1">
            <{$page}>
        </if>
        <!--- END --->
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var date = $("#start_date");
        if (date.length) {
            date.datepicker({dateFormat: "yy-mm-dd"});
            date.datepicker("option", "firstDay", 1);
        }

        var end_date = $("#end_date");
        if (end_date.length){
            end_date.datepicker({dateFormat: "yy-mm-dd"});
            end_date.datepicker("option", "firstDay", 1);
        }

    });


</script>
<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file="sys/footer" />