<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>利息计算</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="_CSS_/layout.css" />
	<link href="_CSS_/mui.css" rel="stylesheet" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">利息计算</h1>
	</header>
	<div class="mui-content">
	    <div class="mui-row interest mui-card">
	    	<div class="mui-col-xs-3">金额：</div>
	    	<div class="mui-col-xs-7">
	    		<div class="mui-input-row">
	    			<input class="mui-input-clear" type="number" id="money" value="{$money}" />
	    		</div>
	    	</div>
	    	<div class="mui-col-xs-2">元</div>
	    	
	    	<div class="mui-col-xs-3">期限：</div>
	    	<div class="mui-col-xs-7">
	    		<div class="mui-input-row">
	    			<input class="mui-input-clear" type="number" id="n_limit" value="{$days}" />
	    		</div>
	    	</div>
	    	<div class="mui-col-xs-2">日</div>
	    	
	    	<div class="mui-col-xs-12">
	    		日还款：<span class="red-text" id="day_back">{$day_back}</span>元
	    	</div>
	    	<div class="mui-col-xs-12">
	    		总利息：<span class="red-text" id="total_interest">{$total_interest}</span>元
	    	</div>
	    	<div class="mui-col-xs-12" >
	    		日利率：<span class="red-text" id="day_interest_rate">{$day_interest_rate}</span>元
	    	</div>

			<div class="mui-content-padded">
				<button id='interest_cal' class="mui-btn mui-btn-block mui-btn-primary">计算</button>
			</div>
			</div>
	    </div>
	</div>
	<script type="text/javascript"  src="_JS_/mui.js"></script>
	<script type="text/javascript" src="_JS_/jquery-1.12.4.js" ></script>

	<script>

        //mui初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        document.getElementById("interest_cal").addEventListener('tap', function () {
            var money = $("#money").val();
            var n_limit = $("#n_limit").val();
            var reg = /^[1-9]\d*$/;
            if (money == "") {
                mui.toast('金额不能为空！');
            } else if (!reg.test(money)) {
                mui.toast("请输入正确的金额！");
            }else if (!reg.test(n_limit)){

                mui.toast("请输入正确的天数!");
            }else {
                //ajax发送

                $.ajax({
                    url : "__ROOT__/home/Index/interest_cal",
                    type:"POST",
                    dataType: "json",
                    data: {
                        'money': money,
                        'days': n_limit,
                    },


                    success: function (data) {
                        if (data.res=="1"){
                            console.log("进入这进而::"+"__ROOT__");
							$('#money').val(data.money);
                            $('#n_limit').val(data.days);
                            $('#day_back').text(data.day_back);
                            $('#total_interest').text(data.total_interest);
                            $('#day_interest_rate').text(data.day_interest_rate);

                        }else if (data.res == "-1"){
                            alert("计算有错误")
                        }else if (data.res == "-2"){
                            alert("错误::"+data);
                        }

                    },

                    error: function (data) {

                        alert("这个错::"+data.responseText);
                    }

                });
            }


        });

	</script>
</body>
</html>