<if condition="$sidebarStatus == 'yes'" >
<div id="sidebar-nav" class="sidebar-nav">
<else />
<div id="sidebar-nav" class="sidebar-nav-hide">
</if>
		<volist name="sidebar" id='module'>
			<if condition ="count($module['menu_list']) gt 0">
			<a href="#sidebar_menu_<{$module.module_id}>" class="nav-header collapsed" data-toggle="collapse"><i class="<{$module.module_icon}>"></i><{$module.module_name}> <i class="icon-chevron-up"></i></a>
				<if condition = "$module.module_id eq $current_module_id" >
					<ul id="sidebar_menu_<{$module.module_id}>" class="nav nav-list collapse in">
				<else>
					<ul id="sidebar_menu_<{$module.module_id}>" class="nav nav-list collapse">
				</if>
				
				<volist name="module['menu_list']" id='menu_list'>

					<li><a href="__ROOT__<{$menu_list.menu_url}>"><{$menu_list.menu_name}></a></li>

				</volist>
			</ul>
			</if>
			
		</volist>

        <a target="_blank" href="http://osadmin.org" class="nav-header" ><i class="icon-question-sign"></i>帮助</a>
</div>
	 <!--- 以上为左侧菜单栏 sidebar --->
<if condition="$sidebarStatus == 'yes'" >
<div id="content" class="content">
<else>
<div id="content" class="content-fullscreen">
</if>
        <div class="header">
            <div class="stats">
			<p class="stat"><!--span class="number"></span--></p>
			</div>

            <h1 class="page-title"><{$content_header.menu_name}></h1>
        </div>
        
		<ul class="breadcrumb">
            <li><a href="__ROOT__<{$content_header.module_url}>"> <{$content_header.module_name}> </a> <span class="divider">/</span></li>
           
			<if  condition="$content_header.father_menu neq null">
			<li><a href="__ROOT__<{$content_header.father_menu_url}>"> <{$content_header.father_menu_name}> </a> <span class="divider">/</span></li>
			</if>


			<li class="active"><{$content_header.menu_name}></li>

        </ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="bb-alert alert alert-info" style="display: none;">
			<span>操作成功</span>
		</div>