<include file="sys/header"/>
<include file="sys/navibar"/>
<include file="sys/sidebar"/>
<!-- START 以上内容不需更改，保证该TPL页内的标签匹配即可 -->


<div class="well">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#" data-toggle="tab">请填写黑名单资料</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">

            <form id="tab" method="post" action="_ADMIN_/Blacklist/add" autocomplete="off">
                <label>供款人姓名</label>
                <input type="text" name="name" value="" class="input-xlarge" autofocus="true" required="true" >

                <label>手机</label>
                <input type="number" name="phone" value="" class="input-xlarge" required >

                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary"><strong>提交</strong></button>
                    <div class="btn-group"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var date = $("#start_date");
        if (date.length) {
            date.datepicker({dateFormat: "yy-mm-dd"});
            date.datepicker("option", "firstDay", 1);
        }

        var end_date = $("#end_date");
        if (end_date.length){
            end_date.datepicker({dateFormat: "yy-mm-dd"});
            end_date.datepicker("option", "firstDay", 1);
        }

    });


</script>
<!-- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="sys/footer" />