<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>出借人注册</title>
		<link rel="stylesheet" href="_CSS_/layout.css" />
		<link href="_CSS_/mui.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="javascript:history.go(-1)" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">出借人注册</h1>
		</header>
		<div class="mui-content reg">
			<form class="mui-input-group" onsubmit="return false;" >
				<div class="mui-input-row">
					<label>手机号：</label>
					<input id="phone_rc" type="number" class="mui-input-clear mui-input" placeholder="请输入手机号"  />
				</div>
				<div class="mui-input-row">
					<label>密码：</label>
					<input id='password_rc' type="password" class="mui-input-clear mui-input" placeholder="6-10位包含字母或数字" maxlength="10"/>
				</div>
				<div class="mui-input-row">
					<label>确认密码：</label>
					<input id='repassword_rc' type="password" class="mui-input-clear mui-input" placeholder="请确认密码" maxlength="10"/>
				</div>
				
				<div class="mui-row">
					<div class="mui-col-xs-6">
						<div class="mui-input-row">
							<label style="padding-right: 0;">姓名：</label>
							<input id="name_rc" type="text" class="mui-input" placeholder="请输入姓名" maxlength="10"/>
						</div>
					</div>
					<div class="mui-col-xs-3">
						<div class="mui-input-row mui-radio ">
						    <label>男</label>
						    <input name="sex" type="radio" value="1" checked/>
						</div>
					</div>
					<div class="mui-col-xs-3">
						<div class="mui-input-row mui-radio ">
						    <label>女</label>
						    <input name="sex" type="radio" value="2"/>
						</div>
					</div>
				</div>
				
				<div class="textarea">
					<label>住址：</label>
					<textarea id="address_rc" name="" rows="2" cols="2"></textarea>
				</div>
				
				<div class="mui-input-row">
					<label>可出借资金：</label>
					<input id="price_rc" style="padding-right: 40px;"  type="number" class="mui-input" placeholder="" value="100" />
					<span class="right-tet">元</span>
				</div>
				<div class="mui-input-row">
					<label>可出借期限：</label>
					<input id="time_rc" style="padding-right: 40px;"  type="number" value = "1" class="mui-input" placeholder="" />
					<span class="right-tet">日</span>
				</div>
				
				<div  class="textarea">
					<label>出借人要求：</label>
					<textarea id="require_rc" name="" rows="4" cols="2"></textarea>
				</div>
				
				<div class="mui-content-padded">
					<button id='reg-c' class="mui-btn mui-btn-block mui-btn-primary">提交</button>
				</div>
			</form>
			
		</div>
		<script type="text/javascript" src="_JS_/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="_JS_/mui.js"> </script>
		<script type="text/javascript">
			function checkMobile(ph)
			{

				var reg = /^1[3|4|5|7|8][0-9]{9}$/
				return reg.test(ph);
			}
		
			function checkPassword(mm)
			{
				var reg = /^(\w){6,10}$/
				return reg.test(mm);
			}
		        
		    	$("#reg-c").on('click', function () {
		    		var arr = [
						{ id: "phone_rc", msg: "请输入正确的手机号码!", cb: checkMobile },
						{ id: "name_rc", msg: "请输入正确的姓名!", cb: null },
						{ id: "address_rc", msg: "请输入正确的地址!", cb: null },
						{ id: "password_rc", msg: "请输入正确的密码!", cb: checkPassword },
						{ id: "price_rc", msg: "请输入正确的出借资金!", cb: null },
						{ id: "time_rc", msg: "请输入正确的出借期限!", cb: null },
						{ id: "require_rc", msg: "请输入正确的出借要求!", cb: null }
		    		];
		
		    		for (var i = 0; i < arr.length; i++) {
		    			var obj = arr[i];
		    			var str = $("#" + obj.id).val();
		    			if (obj.cb != null) {
		    				if (!obj.cb(str)) {
		    					alert(obj.msg);
		    					document.getElementById(obj.id).focus()
								return;
		    				}
		    			} else {
		    				if (str.length <= 0) {
		    					alert(obj.msg);
		    					document.getElementById(obj.id).focus()
		    					return;
		    				}
		    			}
		    		}


		    		var phone_rc = $("#phone_rc").val();		//手机号码
		    		var password_rc = $("#password_rc").val();	//密码
		    		var name_rc = $("#name_rc").val();		    //姓名
		    		var address_rc = $("#address_rc").val();    //地址
		    		var price_rc = $("#price_rc").val();		//出借资金
		    		var time_rc = $("#time_rc").val();			//出借期限
		    		var require_rc = $("#require_rc").val();	//出借要求
		          //  var sex=$("input[type=radio][checked]").siblings('label').text();  //性别

					if (phone_rc.length < 11 || phone_rc.length > 11){
                        alert("手机号位数不对!");
					    return ;
					}

					var sex =$("input[type=radio]:checked").val();

			       $.ajax({
					   url : "__ROOT__/home/Register/loanerRegister",
					   type:"POST",
					   dataType: "json",
					   data: {
                           'phone_rc': phone_rc,
                           'password_rc': password_rc,
                           'name_rc': name_rc,
                           'address_rc': address_rc,
                           'price_rc': price_rc,
                           'time_rc': time_rc,
                           'require_rc': require_rc,
                           'sex':sex,
					   },


						success: function (data) {
							if (data.res=="1"){
                                console.log("进入这进而::"+"__ROOT__");
                                window.location.href="__ROOT__";
							}else if (data.res == "-1"){
								alert("手机号已注册")
							}else if (data.res == "-2"){
								alert("错误::"+data);
							}

                        },

                        error: function (data) {

                            alert("这个错::"+data.responseText);
                        }

			       });




                });



		</script> 
	</body>

</html>