<include file="sys/header"/>
<include file="sys/navibar"/>
<include file="sys/sidebar"/>
<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->
<div class="well">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">请修改借款人资料</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
    <form class="form-horizontal" method="POST"  action="_ADMIN_/Usermodify/modifyBorrower"  autocomplete="off">
        <div class="mui-input-row">
            <label>手机号：</label>
            <input id="phone_rj" type="number" class="mui-input-clear mui-input" placeholder="请输入账号" maxlength="10">
        </div>
        <div class="mui-input-row">
            <label>密码：</label>
            <input id='password_rj' type="password" class="mui-input-clear mui-input" placeholder="请输入密码" maxlength="10">
        </div>
        <div class="mui-input-row">
            <label>确认密码：</label>
            <input id='repassword_rj' type="password" class="mui-input-clear mui-input" placeholder="请确认密码" maxlength="10">
        </div>

        <div class="mui-input-row">
            <label>邮箱</label>
            <input id='email_rj' type="email" class="mui-input-clear mui-input" placeholder="请输入邮箱">
        </div>

        <div class="mui-row">
            <div class="mui-col-xs-6">
                <div class="mui-input-row">
                    <label style="padding-right: 0;width: 40%;">名字：</label>
                    <input id="name_rj" style="width: 60%;" type="text" class="mui-input-clear mui-input" placeholder="请输入姓名" maxlength="10">
                </div>
            </div>

            <div class="mui-col-xs-3">
                <div class="mui-input-row mui-radio ">
                    <label>男</label>
                    <input name="sex" type="radio" checked value="1">
                </div>
            </div>
            <div class="mui-col-xs-3">
                <div class="mui-input-row mui-radio ">
                    <label>女</label>
                    <input name="sex" type="radio" value="2">
                </div>
            </div>
        </div>

        <div class="textarea">
            <label>住址：</label>
            <textarea id="address_rj" name="" rows="2" cols="2"></textarea>
        </div>

        <div class="mui-row" id="warp">
            <div class="mui-col-xs-3">
                身份证：
            </div>
            <div class="mui-col-xs-5 ID-card">
                <p><img id="imgShow_WU_FILE_0" width="90" height="50"/></p>
                <div class="a-upload">
                    <input type="file" id="up_img_WU_FILE_0" name="up_img_WU_FILE_0"/>上传正面
                </div>
            </div>
            <div class="mui-col-xs-4 ID-card">
                <p><img id="imgShow_WU_FILE_1" width="90" height="50"/></p>
                <div class="a-upload">
                    <input type="file" id="up_img_WU_FILE_1" name="up_img_WU_FILE_1"/>上传反面
                </div>
            </div>
        </div>

        <div class="mui-card contact">
            <div class="mui-card-header">常用联系人1</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <div class="mui-input-row">
                        <label>姓名：</label>
                        <input id="name_1" type="text" class="mui-input" placeholder="" maxlength="10">
                    </div>
                    <div class="mui-input-row">
                        <label>电话：</label>
                        <input id="phone_1" type="number" class="mui-input" placeholder="">
                    </div>
                    <div class="mui-input-row">
                        <label>关系：</label>
                        <input id="contact_1" type="text" class="mui-input" placeholder="" maxlength="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="mui-card contact">
            <div class="mui-card-header">常用联系人2</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <div class="mui-input-row">
                        <label>姓名：</label>
                        <input id="name_2" type="text" class="mui-input" placeholder="" maxlength="10">
                    </div>
                    <div class="mui-input-row">
                        <label>电话：</label>
                        <input id="phone_2" type="number" class="mui-input" placeholder="">
                    </div>
                    <div class="mui-input-row">
                        <label>关系：</label>
                        <input id="contact_2" type="text" class="mui-input" placeholder="" maxlength="10">
                    </div>
                </div>
            </div>
        </div>

        <div class="mui-row">
            <div class="mui-col-xs-6" style="padding: 7px 15px;font-size: 14px;">
                有无房产：
            </div>
            <div class="mui-col-xs-3">
                <div class="mui-input-row mui-radio ">
                    <label>有</label>
                    <input name="build" type="radio" checked value="1">
                </div>
            </div>
            <div class="mui-col-xs-3">
                <div class="mui-input-row mui-radio ">
                    <label>无</label>
                    <input name="build" type="radio" value="2">
                </div>
            </div>
            <div class="mui-col-xs-6" style="padding: 7px 15px;font-size: 14px;">
                有无车辆：
            </div>
            <div class="mui-col-xs-3">
                <div class="mui-input-row mui-radio ">
                    <label>有</label>
                    <input name="car" type="radio" checked value="1">
                </div>
            </div>
            <div class="mui-col-xs-3">
                <div class="mui-input-row mui-radio ">
                    <label>无</label>
                    <input name="car" type="radio" value="2">
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary"><strong>提交</strong></button>
            <div class="btn-group"></div>
        </div>
    </form>
        </div>
    </div>
</div>
<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
<include file="sys/footer" />